//
$input-border-width: 0.125rem;
$input-border-color: rgb(220, 220, 220);

.first-form {
  padding: 1rem;

  section {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
  }

  div {
    display: flex;
    flex-direction: column;
    margin: 0rem;
    gap: 0.25rem;
    flex: 1;
    font-size: 0.95rem;

    label {
      padding-left: 0.3rem;
      font-weight: 500;
    }

    .submit-button,
    select,
    input {
      flex: 1;
      padding: 0.5rem;
      border-radius: 0px;
      border: $input-border-width solid $input-border-color;
      transition: 0.3s;
    }

    .submit-button:focus,
    input:focus,
    select:focus {
      border: $input-border-width solid red;
      outline: none;
    }

    .date-of-birth {
      margin-bottom: 0rem;
      input {
        width: 100%;
      }
    }
  }

  .phone-number-div {
    flex-direction: row;
    width: 100%;

    select {
      max-width: 100px;
      font-size: smaller;
      // width: 20%;
    }

    input {
      // max-width: 80%;
      // width: 80%;
    }
  }
}
